.task2 {
    display: task2;
}


input {
    font-size: 40px;
    width: 200px;
}

button {
    background-color: rgb(158, 44, 143);
    color: rgb(201, 218, 49);
    font-size: 40px;
    width: 150px;
}


